{% extends 'base.html' %}

{% block title %} home.html{% endblock %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
</style>

<h5 style="font-family: 'Nanum Pen Script', cursive; font-size:25pt;">&nbsp;&nbsp;&nbsp;Travel에 오신 것을 환영합니다!</h5>
{% endblock %}
