<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
a:link, a:visited, a:hover, a:active {
    color:blue;
    text-decoration:none;
}
h1 {
    font-family: 'Nanum Pen Script', cursive; font-size:25pt;
}
</style>
<body>

<h1>{{question.question_text}}</h1>
{% if error_message %} <p> <strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post" style="font-family: 'Nanum Pen Script', cursive; font-size:17pt;">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="checkbox" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
{% endfor %}
<input type="submit" value="Vote">
    <a href="{% url 'polls:index' %}">&nbsp;&nbsp;Back</a>
</form>
{% endblock %}
</body>
</html>