body {
    background: white url("images/강릉_바다.png") no-repeat;
    background-position: center;
    background-size: 57.8%;
    height: 500px;
}

title{
    color: #c80;
    font-weight: bold;
    font-size: 12pt;
}
li a {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}